:root{
    --color-black: #2b2b2b;
    --color-contents-txt: #fdfdfd;
    --color-typing-txt: #ee9348;
}

main {
    display: flex;
    padding: 0 100px 0 100px;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-black);
    overflow: hidden;  
}

main .container{
    display: flex;
}

main .container .content{
    padding: 20px;
    text-align: left;
    color: var(--color-contents-txt);
}

main .container .content h2{
    font-size: 100px;
}

main .container .content .detail{
    font-size: 12px;
}

main .container .content .text-typing-container .typing{
    color: var(--color-typing-txt);
}

main .container .content .text-typing-container .typing::after {
    content: '';
    border-right: 2px solid var(--color-typing-txt);
    animation: cursor .9s infinite steps(2);
}

main .container .button-area{
    position: absolute;
    align-items: center;
    bottom: 100px;
    left: calc(50% - 4rem);
    transition: 0.25s ease;
    cursor: pointer;
}

main .container .button-area .button{
    width: 8rem;
    height: 3rem;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    color: var(--color-black);
    background-color: var(--color-typing-txt);
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    position: relative;
    --a: initial;
}

main .container .button-area:hover{
    bottom: 110px;
}

main .container .button-area .button::after{
    content: "";
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--diameter);
    height: var(--diameter);
    transform: scale(0);
    background-color: var(--color-typing-txt);
    border-radius: 50%;
    pointer-events: none;
    animation: var(--a);
}

@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid var(--color-typing-txt); }
}

@keyframes ripple-effect {
  100% {
    transform: scale(10);
    opacity: 1;
  }
}