@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

.what-i-do {
  background: #d5d5d5;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.what-i-do h1{
    padding: 100px;
    font-size: 60px;
    font-weight: 1000;
}

.what-i-do h1 span{
    color: #e37635;
}

.what-i-do__canvas {
  position: relative;
  width: 100%;
  min-height: 9500px;
  overflow: hidden;
}

.panel {
  position: absolute;
  display: flex;
  gap: 20px;
  padding-bottom: 12px;
}

.icon {
  width: 90px;
  height: 90px;
  filter: brightness(0.7);
}

.panel--language {
  width: 400px;
  left: 100px;
  top: 970px;
}

.panel--frontend {
  width: 400px;
  left: 2100px;
  top: 5200px;
}

.panel--backend {
  width: 400px;
  left: 840px;
  top: 3400px;
}

.panel--game {
  width: 840px;
  left: 1600px;
  top: 6861px;
}

.section-title {
  position: absolute;
  color: #e37635;
  font-size: 450px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.section-title--language {
  width: 2862px;
  height: 436px;
  left: 560px;
  top: 856px;
}

.section-title--backend {
  width: 2107px;
  height: 436px;
  left: -72px;
  top: 2853px;
  line-height: 0.9;
  line-height: 400px;
}

.section-title--frontend {
  width: 1470px;
  height: 980px;
  left: 1100px;
  top: 4659px;
  line-height: 400px;
}

.section-title--game {
  width: 1626px;
  height: 980px;
  left: -118px;
  top: 6315px;
  line-height: 400px;
}

.portfolio-banner {
  position: absolute;
  width: 1773px;
  height: 243px;
  left: 875px;
  top: 8082px;
  color: #e37635;
  font-size: 250px;
  font-weight: 700;
  text-transform: uppercase;
}
