@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.who-am-i {
  background-color: var(--color-wh);
  max-width: 2640px;
  overflow: hidden;
}


/* 로딩 */
.loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-wh);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.loading {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #ce8383;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #dcbc64;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #e173cb;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/* 로딩 */


.container{
  color: var(--color-bl);
  max-width: 2700px;
  width: 100%;
}

.container .main{
  position: relative;
  top: 200px;
  left: 200px;
  padding: 50px;
}

.who-am-i .container .main h1{
  color: var(--color-bl);
}
.who-am-i .container .main .highlight{
  color: var(--color-1);
  font-weight: 1000;
  font-size: 600px;
}

.container .main .social a{
  color: var(--color-bl);
  position: relative;
  bottom: 690px;
  left: 475px;
}

.container .aboutMe{
  padding: 500px 0 100px;
}

.container .aboutMe > div{
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.container .aboutMe .img{
  width: 100%;
  height: 100%;
}

.container .aboutMe .text{
  width: 90%;
}

.container .aboutMe .text h2{
  font-size: 50px;
  color: var(--color-2);
}

.container .aboutMe .text p{
  font-size: 30px;
  color: var(--color-bl);
}

.container .aboutMe .text .detail{
  padding: 2rem;
}

.container .aboutMe .text .topic{
  letter-spacing: -50px;
  color: var(--color-1);
  font-weight: 800;
  font-size: 500px;
}

.etc{
  display: flex;
  margin: 0;
  background-color: darkgray;
  min-height: 30rem;
}

.etc .index{
  flex: 0.9;
  padding: 50px;
}

.etc .index ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
}

.etc .index ul li{
  margin: 0;
  cursor: pointer;
  width: 100%;
  font-family: "Raleway", sans-serif;
  opacity: 0.5;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  justify-content: flex-start;
  text-align: left;
}


.etc .index ul li span {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  width: 1rem;
  text-align: left;
}


.etc .detail{
  flex: 1.5;
  padding: 50px;
}
